.container {
	gap: 1.2rem;

	flex: 1;
	flex-grow: 0;
	margin-left: 3rem;
	display: inline-block;
}

.text {
	font-family: "Ubuntu Mono";
	font-size: 01rem;

	color: #333333;
}
.label {
	font-size: 1.2rem;
	display: block;
	color: #333333;
}

.input {
	border: 1px solid #828282;
	border-radius: 0.8rem;
	padding: 1.8rem 1.2rem;
}

.input::placeholder {
	font-size: 1.4rem;
}

.input:hover {
	border: 1px solid #333333;
}

.input:focus {
	border: 1px solid #2962ff;
	outline: none;
}

.error > .input {
	border: 1px solid #d32f2f;
}

.error > .input:hover {
	border: 1px solid #333333;
}

.error > .input:focus {
	border: 1px solid #d32f2f;
	outline: none;
}

.input:disabled {
	background: #f2f2f2;
	border: 1px solid #e0e0e0;
}

.helperText {
	font-size: 1rem;

	color: #828282;
}

.error > .helperText {
	color: #d32f2f;
}
.error > .label {
	color: #d32f2f;
}

.fullWidth {
	width: 100%;
}
